#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 > #backgroundBox {
  position: absolute;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 760.0px;
  width: 100%;
  height: 100%;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Bg {
  position: absolute;
  width: 101.11111111111111%;
  min-height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Bauhaus 93',Arial;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Bg {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #AB4100;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Bg > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Bg .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Bauhaus 93',Arial;
  font-size: 22.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_1 {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_2 {
  position: absolute;
  width: 316.9999999999997px;
  min-height: 116.99999999999991px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_2 {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_search {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel {
  width: 91.11111111111111%;
  height: 44.0px;
  filter: drop-shadow(-0.0px -0.0px 2.5px #999999);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel {
  box-shadow: -0.0px -0.0px 5px 0px #999999;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel > .backgroundLayer {
  border-radius: 1px 1px 1px 1px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel td.layout {
  padding: 1px 0px 0px 0px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Components_panel .verticalalign {
  vertical-align: top;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 {
  position: absolute;
  width: 100.0%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px -0.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 {
  box-shadow: -0.0px -0.0px 5px 0px #999999;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 .valign {
  vertical-align: top;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 10.0pt;
  line-height: 17px;
  text-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Input_1 .paddingLayer:first-child {
  padding-top: 13px;
  padding-right: 51px;
  padding-bottom: 0px;
  padding-left: 40px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-search {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-search {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-mic {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-mic {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_3 {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Image_121 {
  position: absolute;
  width: 40.29237836052043px;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Image_121 {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Image_121 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 {
  position: absolute;
  width: 230.0px;
  min-height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E0E0E0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E0E0E0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E0E0E0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E0E0E0;
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 {
  position: absolute;
  width: 230.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E0E0E0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E0E0E0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E0E0E0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E0E0E0;
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 {
  position: absolute;
  width: 230.0px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 {
  box-shadow: none;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E0E0E0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E0E0E0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E0E0E0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E0E0E0;
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button {
  position: absolute;
  width: 300.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-0.0px 2.0px 2.5px #999999);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium',Arial;
}

_:-ms-fullscreen, :root #s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button {
  box-shadow: -0.0px 2.0px 5px 0px #999999;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button > .backgroundLayer > .colorLayer {
  background-color: #AB4100;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button > .backgroundLayer {
  border-radius: 2px 2px 2px 2px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 #s-raised_Button span#rtr-s-raised_Button_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 14.0pt;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-8d1fa70d-a858-49ce-b997-c9fb3f5897d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
